@font-face {
		font-family: 'VNIAptima';
		src: url('fonts/VAVON.TTF');
	}

.menu-item .menu-item-settings .edit-menu-item-title,
.menu-item-bar .menu-item-handle .item-title
 {
	font-family: 'VNIAptima';
}
